<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GetSongBPMApiKey</key>
	<string>$(GETSONGBPM_API_KEY)</string>
	<key>SoundchartsAppID</key>
	<string>$(SOUNDCHARTS_APP_ID)</string>
	<key>SoundchartsApiKey</key>
	<string>$(SOUNDCHARTS_API_KEY)</string>
	<key>SongstatsApiKey</key>
	<string>$(SONGSTATS_API_KEY)</string>
	<key>SpotifyClientID</key>
	<string>$(SPOTIFY_CLIENT_ID)</string>
	<key>SpotifyClientSecret</key>
	<string>$(SPOTIFY_CLIENT_SECRET)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>메트로놈에 맞춰 Apple Music 보관함 곡과 스트리밍 곡을 선택합니다.</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>IBMPlexMono-Medium.ttf</string>
	</array>
</dict>
</plist>
